# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.env.*
venv/
env/
ENV/
myenv/
venv/
env/
ENV/


# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Migrations cache
*/migrations/__pycache__/

# Node (if frontend included)
node_modules/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Testing
.coverage
htmlcov/
.pytest_cache/
